@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400&display=swap");

@layer base {
  :root {
    --color-main-primary: #624cfc;
    --color-main-primary05: #e6e3fe;
    --color-main-primary1: #e0dbfe;
    --color-main-primary2: #c0b7fe;
    --color-main-primary3: #a194fd;
    --color-bg-primary: #efedfc;
    --color-bg-content: #0a0624;
    --color-body-color: #474747;
    --color-nav-color: #454354;
    --color-border-color: #cbc9dd;
    --color-borer: #e2dff2;
    /* ... */
  }

  html {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Figtree", sans-serif;
    @apply leading-[1.7];
  }

  body {
    @apply bg-[var(--color-bg-primary)] text-[var(--color-bg-content)];
  }
}

@layer components {
  .text-main {
    color: var(--color-main-primary);
  }

  .bg-main {
    background-color: var(--color-main-primary);
  }

  .body-color {
    @apply text-[var(--color-body-color)];
  }

  .nav-list--item {
    @apply cursor-pointer text-[var(--color-nav-color)] leading-5 hover:text-[var(--color-main-primary)] hover:font-bold font-normal text-base hover:drop-shadow-sm;
  }

  .nav-list--item.active {
    @apply text-[var(--color-main-primary)] font-bold;
  }

  .layout-box-shadow {
    @apply overflow-hidden shadow-[0_3px_10px_rgb(1,1,1,0.05)];
  }

  .project-box {
    box-shadow: 0px 8px 6px -6px rgba(211, 207, 238, 0.58);
    @apply p-5 relative rounded bg-[var(--color-main-primary1)];
  }

  .text-desc {
    color: rgb(41, 41, 41);
  }

  .project-desc {
    font-size: 20px;
    @apply font-light mt-3;
  }

  .skill {
    @apply px-5 py-1 border-b-2 bg-[var(--color-main-primary05)] rounded-md border-[var(--color-main-primary2)] text-[var(--color-nav-color)] hover:border-[var(--color-main-primary)] hover:text-black;
  }
}
